#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }        
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}