@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');
@import url('../css/home.css');
@import url('../css/trending.css');
@import url('../css/about.css');
@import url('../css/products.css');
@import url('../css/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-neutral-0);
    }
}

#container {
    background-image: url(../images/background-mobile.png);
    background-size: contain;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 30px;
    }
}

@media (min-width: 768px) {
    #container {
        background-image: url(../images/background-desktop.png);
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }
}