#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card {
            position: relative;

            img {
                width: clamp(300px, 5vh, 600px);
            }

            .trending-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 70px;
                right: 30px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--color-secundary-1);
                }
            }

            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-7);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #trending {
        .trending-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
}